<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Welcome/Desktop/Natwest/PageObjectModel"><classes><class name="com.pom.Anno_Test1"><methods><include name="OrangeHRMVerifyLogin"/></methods></class><class name="com.pom.PractTest"><methods><include name="Addition"/><include name="Substraction"/><include name="Division"/></methods></class><class name="com.test.LoginTest"><methods><include name="Verifylogin"/></methods></class></classes></test></suite>